<app-barnav visible="true"></app-barnav>
<br>
<div class="container">
    <div class="row">
        <div class="col">
        <img class="img-fluid" src="assets/start1.png" >
    </div>
    </div>
    <div class="row text-center mt-4">
        <div class="col">
<h1 class="tit">
    Gigoló Latino
</h1>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
<h1 class="tit2">
   Nuestra Última Canción
</h1>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <audio controls>
                <source src="assets/Adolescente.mp3" type="audio/mpeg">
             </audio>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
<p>ESPERANDO QUE ME MIRES UNA VEZ<br>
BUSCO INDAGO SIN SABER<br>
SORPRENDIENDOME<br>
MI VIDA PASA POR MIL OJOS<br>
Y EL CAMINO A SEGUIR<br>
QUERRA SER  MARCADO POR<br>
LA SOCIEDAD ESCRITA DE AQUELLOS<br>
QUE NO PENSARON EN <br>
MI INOCENCIA<br>
PRETENCIOSA REDENCION<br>
ADOLESCENCIA<br>
PELIGROSA <br>
AMBICION<br><br>
SIGO AGUARDANDO QUE ME MIRES UNA VEZ<br>
BUSCO INDAGO SIN SABER<br>
Y  A  PESAR DE QUE<br>
RINDA CUENTAS AL PODER…<br>
MI CAMINO A SEGUIR<br>
SERA  MARCADO POR<br>
LA LEALTAD A MIS PRINCIPIOS<br>
A MIS AMIGOS Y A <br>
MI INOCENCIA<br>
PRETENCIOSA REDENCION<br>
ADOLESCENCIA<br>
PELIGROSA <br>
AMBICION <br>
</p>
</div>
        </div>
    </div>