<app-barnav visible="true"></app-barnav>
<div class="text-center ">
<h1 class="display-1 tittle">La Historia</h1>
<br>
<img class="border border-light img-fluid " src="assets/falsafazhistoria.jpg" >
<br>
<br>
<p class="display-4 container" >

    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt, temporibus laboriosam? Quibusdam eum beatae amet facilis ut, neque, aliquid eos, 
    facere harum reiciendis voluptatum quas recusandae officiis deserunt obcaecati tempora?
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt, temporibus laboriosam? Quibusdam eum beatae amet facilis ut, neque, aliquid eos, 
    facere harum reiciendis voluptatum quas recusandae officiis deserunt obcaecati tempora?
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt, temporibus laboriosam? Quibusdam eum beatae amet facilis ut, neque, aliquid eos, 
    facere harum reiciendis voluptatum quas recusandae officiis deserunt obcaecati tempora?
    <br>
    <br>
</p>
<br>
<br>
<br>
</div>

