<app-barnav visible="true"></app-barnav>
<div class="text-center ">
<h1 class="display-1 tittle wow bounceInUp " data-wow-duration="2s" data-wow-delay="0s">La Historia</h1>
<br>
<img class="border border-light " src="assets/falsafazhistoria.jpg" >
<br>
<br>
<p class="display-4 container wow bounceInLeft " data-wow-duration="3s" data-wow-delay="1s">

    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt, temporibus laboriosam? Quibusdam eum beatae amet facilis ut, neque, aliquid eos, 
    facere harum reiciendis voluptatum quas recusandae officiis deserunt obcaecati tempora?
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt, temporibus laboriosam? Quibusdam eum beatae amet facilis ut, neque, aliquid eos, 
    facere harum reiciendis voluptatum quas recusandae officiis deserunt obcaecati tempora?
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt, temporibus laboriosam? Quibusdam eum beatae amet facilis ut, neque, aliquid eos, 
    facere harum reiciendis voluptatum quas recusandae officiis deserunt obcaecati tempora?
    <br>
    <br>
</p>
<br>
<br>
<br>
</div>

