<app-barnav visible="true"></app-barnav>
<div class="contact  ">
    <div class="content">
        <div class="container">
            <h1 class="logo display-2 mb-5 ">Contacto</h1>
        </div>
        <div class="contact-wrapper">
            <div class="contact-info lcont">
                <h4 class="lform mt-4">Nuestros Datos:</h4>
                <br>
                <ul>
                    <li> <i class="fas fa-phone lform"> 154-442-9875</i></li>
                    <li class="lform"> <i class="fas fa-envelope-open-text ">falsafaz@hotmail.com</i></li>
                </ul>
                <br>
                <p class="lform">Contrataciones para eventos, consultas, entradas anticipadas, etc</p>
                <br>
                <p class="mt-5"><span>falsafaz.herokuapp.com</span></p>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
