* {
    box-sizing: border-box;
}

.contact {
    color:darkgray;
    padding: 0 1.5em;
}

.content {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.logo {
    text-align: center;
    color:darkgray;
    margin-bottom: 20px;
    font-family: 'Pirata One' ;

    }

.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper>* {
    padding: 1em;
}

 

.contact-info {
    background: rgb(12, 12, 12);
}

 
.contact-info h4,
.contact-info ul,
.contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}

 

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li {
    padding: .3em;
}


/* LARGE SIZE */

@media(min-width: 700px) {
    .contact {
        padding: 0 4em;
    }
     
    .contact-wrapper>* {
        padding: 2em;
    }
}

.contact-info span {
    color: rgb(188, 200, 201);
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.5rem;
}

.lform {
    font-family: 'Fjalla One', sans-serif;
}

.lcont {
    font-size: 1.3rem;
}