  <!-- nav bar -->
  <nav *ngIf="visible" class="navbar navbar-expand-xl sticky-top navbar-dark bg-dark">
    <a class="navbar-brand lis " href="/home">
      <img class="mr-2" src="assets/favicon.ico" width="40" height="40">FALSA FAZ
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-nav text-center">
        <a class="nav-item nav-link active ke" href="/history">HISTORIA<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link active ke" href="/shop">TIENDA</a>
        <a class="nav-item nav-link active ke" href="/albums">ALBUM</a>
        <a class="nav-item nav-link active ke" href="/shows">SHOWS</a>
        <a class="nav-item nav-link active ke" href="/photos">FOTOS</a>
        <a class="nav-item nav-link active ke" href="/videos">VIDEOS</a>
        <a class="nav-item nav-link active ke" href="/contact">CONTACTO</a>
      <div class="rsoc d-flex  justify-content-around">
      <a class="nav-item nav-link active" href="https://es-la.facebook.com/pages/category/Musician-Band/Falsa-Faz-326599690816811" target="_blank">
        <img src="assets/facebook.png" width="45px" height="40px"> 
      </a>
      <a class="nav-item nav-link active ytbicon" href="https://www.youtube.com/playlist?list=PLbEUMEAapBPtnpNCUD_lxbmhwnO3cBoFt" target="_blank"> 
        <img src="assets/youtube5.png"  width="45px" height="40px">
       </a>
       <a class="nav-item nav-link active" href="" target="_blank"> 
        <img src="assets/google1.png"  width="45px" height="40px">
       </a>
       <a class="nav-item nav-link active" href="" target="_blank"> 
        <img src="assets/insta1.webp"  width="45px" height="40px">
       </a>
    </div>
  </div>
  </div>
  </nav>