<app-barnav visible="true"></app-barnav>
<div class="container-fluid mt-2">
    <div class="row">
      <div class="col">
        <div class="container letrashow ml-5">
        <h1 class="display-2 proxtit">Próximo Show:</h1>
        <h1 class="display-2 proxtit">15/09/2020</h1>
 <h2 class="display-4">
<a href="https://www.google.com/maps/place/Wolf+Resto+Bar+Pool/@-34.7379535,-58.3982243,15z/data=!4m5!3m4!1s0x0:0xfd830e3e82978904!8m2!3d-34.7379535!4d-58.3982243" target="_blank">Wolf Resto Bar Pool</a>
</h2>
<address>Av. Pres. Hipólito Yrigoyen 7125,<br>Banfield Buenos Aires</address>
</div>
      </div>
      <div class="col-6">
        <img  src="assets/WOLF.jpg" width="730px" height="521px">
      </div>
    </div>
  </div>
<br>
<br>
<br>
<br>
<h1 class="display-1 text-center letrashow proxtit">Shows anteriores:</h1>
<br>
<div class="d-flex justify-content-between " >
<div class="card border-dark ml-4  cardbackg " style="width: 25rem;">
  <div class="mt-3 mr-3 ml-3">
  <img src="assets/chango1.png"  height="320px"  class="card-img-top">
</div>
  <div class="card-body  ">
    <p class="car-text text-center letrascard">Sociedad De Fomento</p>
    <p class="car-text text-center letrascard">Villa Fiorito</p>
    <p class="car-text text-center letrascard"> 22/12/2019</p>
    <div class="d-flex justify-content-around" >
<a href="/photos" class="btn btn btn-lg carbutton">Ver Fotos</a>
<a href="/videos" class="btn btn btn-lg carbutton">Ver Video</a>
</div>
  </div>
</div>
<div class="card border-dark ml-4 cardbackg" style="width: 25rem;">
  <div class="mt-3 mr-3 ml-3">
  <img src="assets/alfon3.png" height="320px" class="card-img-top">
</div>
  <div class="card-body  ">
    <p class="car-text text-center letrascard">Al Fondo Centro Cultural</p>
    <p class="car-text text-center letrascard">Lomas De Zamora</p>
    <p class="car-text text-center letrascard"> 08/03/2014</p>
<div class="d-flex justify-content-around" >
<a href="/photos" class="btn btn btn-lg carbutton">Ver Fotos</a>
<a href="/videos" class="btn btn btn-lg carbutton">Ver Video</a>
</div>
  </div>
</div>
<div class="card border-dark ml-4 cardbackg" style="width: 25rem;">
  <div class="mt-3 mr-3 ml-3">
  <img src="assets/motorock1.png"   height="320px"  class="card-img-top">
</div>
  <div class="card-body  ">
    <p class="car-text text-center letrascard">Motorock Solidario</p>
    <p class="car-text text-center letrascard">Lanus Este</p>
    <p class="car-text text-center letrascard">28/10/2017</p>
<div class="d-flex justify-content-around" >
<a href="/photos" class="btn btn btn-lg carbutton">Ver Fotos</a>
<a href="/videos" class="btn btn btn-lg carbutton">Ver Video</a>
</div>
  </div>
</div>
<div class="card border-dark ml-4 cardbackg" style="width: 25rem;">
  <div class="mt-3 mr-3 ml-3">
  <img src="assets/P1130645aa.png"  height="320px" class="card-img-top">
</div>
  <div class="card-body  ">
    <p class="car-text text-center letrascard">Wolf Resto Bar Pool</p>
    <p class="car-text text-center letrascard">Banfield</p>
    <p class="car-text text-center letrascard">02/02/2014</p>
    <div class="d-flex justify-content-around" >
      <a href="/photos" class="btn btn btn-lg carbutton">Ver Fotos</a>
      <a href="/videos" class="btn btn btn-lg carbutton">Ver Video</a>
      </div>
  </div>
</div>
</div>
