<div class="content page404">
    <div class="col-md-12">
        <div class="error-template">
            <h1>
                Oops!</h1>
            <h2>
                404 Not Found</h2>
            <div class="error-details">
                Sorry, an error has occured, Requested page not found!
                <br>
                <br>
                <br>
                <br>
            </div>
            <div class="error-actions">
                <a routerLink="" class="btn btn-dark btn-lg"><span class="glyphicon glyphicon-home"></span><span class="buttoncolor">
                    Take Me Home </span></a>
            </div>
        </div>
    </div>
  </div>