 <div class="d-flex justify-content-center text-center">
    <br>
    <div class="img1">    
<div class="slideshow">
    <div class="slide">
        <img class="img-fluid"  src="assets/caral.png" >
    </div>
    <div class="slide">
        <img  src="assets/carar.png" >
    </div>
    <div class="slide">
        <img  src="assets/caral.png" >
    </div>
    <div class="slide">
        <img  src="assets/carar.png" >
    </div>
    <div class="slide">
        <img  src="assets/caral.png" >
    </div>
    <div class="slide">
        <img  src="assets/carar.png" >
    </div>
    <div class="slide">
        <img  src="assets/caral.png" >
    </div>
    <div class="slide">
        <img src="assets/carar.png" >
    </div>
    <div class="slide">
        <img  src="assets/caral.png" >
    </div>
    <div class="slide">
        <img src="assets/carar.png" >
    </div>
    <div class="slide">
        <img  src="assets/caral.png" >
    </div>
    <div class="slide">
        <img  src="assets/carar.png" >
    </div>
    <div class="slide">
        <img  src="assets/caral.png" >
    </div>
    <div class="slide">
        <img  src="assets/carar.png" >
    </div>
    <div class="slide">
        <img  src="assets/caral.png" >
    </div>
    <div class="slide">
        <img  src="assets/carar.png" >
    </div>
    <div class="slide">
        <img  src="assets/caral.png" >
    </div>
    <div class="slide">
        <img  src="assets/carar.png" >
    </div>
    <div class="slide">
        <img  src="assets/caral.png" >
    </div>
    <div class="slide">
        <img src="assets/carar.png" >
    </div>
    </div>
    
</div>
<div  class="img2" >
    <img class="img-fluid" src="assets/logoan1.png">
</div>
<div  class="img1" >
   
<div class="slideshow mr-5">
    <div class="slide">
        <img class="img-fluid" src="assets/carar.png" >
    </div>
    <div class="slide">
        <img src="assets/caral.png" >
    </div>
    <div class="slide">
        <img src="assets/carar.png" >
    </div>
    <div class="slide">
        <img src="assets/caral.png" >
    </div>
    <div class="slide">
        <img src="assets/carar.png" >
    </div>
    <div class="slide">
        <img src="assets/caral.png" >
    </div>
    <div class="slide">
        <img src="assets/carar.png" >
    </div>
    <div class="slide">
        <img src="assets/caral.png" >
    </div>
    <div class="slide">
        <img src="assets/carar.png" >
    </div>
    <div class="slide">
        <img src="assets/caral.png" >
    </div>
    <div class="slide">
        <img src="assets/carar.png" >
    </div>
    <div class="slide">
        <img src="assets/caral.png" >
    </div>
    <div class="slide">
        <img src="assets/carar.png" >
    </div>
    <div class="slide">
        <img src="assets/caral.png" >
    </div>
    <div class="slide">
        <img src="assets/carar.png" >
    </div>
    <div class="slide">
        <img src="assets/caral.png" >
    </div>
    <div class="slide">
        <img src="assets/carar.png" >
    </div>
    <div class="slide">
        <img src="assets/caral.png" >
    </div>
    <div class="slide">
        <img src="assets/carar.png" >
    </div>
    <div class="slide">
        <img src="assets/caral.png" >
    </div>
    </div>
</div>
</div>
<div class="text-center">

    <br>
    <br>
    <br>
    <br>
    <a class="btn btn-outline-secondary btn-lg " href="/home"><span>Ingresar</span></a>
</div>

<br>
<br>
<div class="text-center">
    <audio controls autoplay loop>
        <source src="assets/Pequeño ser inmortalcorteparamitos.mp3" type="audio/mpeg">
    </audio>
</div> 


