 <div class="content text-center">
    <br>
    <div class="img1 wow  fadeInLeftBig" data-wow-duration="2s" data-wow-delay="1.2s">    
<div class="slideshow">
    <div class="slide">
        <img src="assets/caral.png" >
    </div>
    <div class="slide">
        <img src="assets/carar.png" >
    </div>
    <div class="slide">
        <img src="assets/caral.png" >
    </div>
    <div class="slide">
        <img src="assets/carar.png" >
    </div>
    <div class="slide">
        <img src="assets/caral.png" >
    </div>
    <div class="slide">
        <img src="assets/carar.png" >
    </div>
    <div class="slide">
        <img src="assets/caral.png" >
    </div>
    <div class="slide">
        <img src="assets/carar.png" >
    </div>
    <div class="slide">
        <img src="assets/caral.png" >
    </div>
    <div class="slide">
        <img src="assets/carar.png" >
    </div>
    <div class="slide">
        <img src="assets/caral.png" >
    </div>
    <div class="slide">
        <img src="assets/carar.png" >
    </div>
    <div class="slide">
        <img src="assets/caral.png" >
    </div>
    <div class="slide">
        <img src="assets/carar.png" >
    </div>
    <div class="slide">
        <img src="assets/caral.png" >
    </div>
    <div class="slide">
        <img src="assets/carar.png" >
    </div>
    <div class="slide">
        <img src="assets/caral.png" >
    </div>
    <div class="slide">
        <img src="assets/carar.png" >
    </div>
    <div class="slide">
        <img src="assets/caral.png" >
    </div>
    <div class="slide">
        <img src="assets/carar.png" >
    </div>
    </div>
    
</div>
<div  class="img1 wow slideInDown" data-wow-duration="1.8s" data-wow-delay="1.2s">
    <img src="assets/logoan1.png">
</div>
<div  class="img1 wow fadeInRightBig " data-wow-duration="2s" data-wow-delay="1.2s">
   
<div class="slideshow mr-5">
    <div class="slide">
        <img src="assets/carar.png" >
    </div>
    <div class="slide">
        <img src="assets/caral.png" >
    </div>
    <div class="slide">
        <img src="assets/carar.png" >
    </div>
    <div class="slide">
        <img src="assets/caral.png" >
    </div>
    <div class="slide">
        <img src="assets/carar.png" >
    </div>
    <div class="slide">
        <img src="assets/caral.png" >
    </div>
    <div class="slide">
        <img src="assets/carar.png" >
    </div>
    <div class="slide">
        <img src="assets/caral.png" >
    </div>
    <div class="slide">
        <img src="assets/carar.png" >
    </div>
    <div class="slide">
        <img src="assets/caral.png" >
    </div>
    <div class="slide">
        <img src="assets/carar.png" >
    </div>
    <div class="slide">
        <img src="assets/caral.png" >
    </div>
    <div class="slide">
        <img src="assets/carar.png" >
    </div>
    <div class="slide">
        <img src="assets/caral.png" >
    </div>
    <div class="slide">
        <img src="assets/carar.png" >
    </div>
    <div class="slide">
        <img src="assets/caral.png" >
    </div>
    <div class="slide">
        <img src="assets/carar.png" >
    </div>
    <div class="slide">
        <img src="assets/caral.png" >
    </div>
    <div class="slide">
        <img src="assets/carar.png" >
    </div>
    <div class="slide">
        <img src="assets/caral.png" >
    </div>
    </div>
    
</div>
    <br>
    <br>
    <br>
    <br>
    <a class="btn btn-outline-secondary btn-lg " href="/home"><span>Ingresar</span></a>
</div>
<br>
<br>
<div class="text-center">
    <audio controls autoplay loop>
        <source src="assets/Pequeño ser inmortalcorteparamitos.mp3" type="audio/mpeg">
    </audio>
</div> 


