<app-barnav visible="true"></app-barnav>
<div class="row mt-5">
<h1 class="col text-center mb-3 ">Tienda</h1>
</div>
<br>
<div class="container">
<div class="  ubic" >
  <div class="row justify-content-md-center">
    <div class="col ">
    <div class="card border-dark cardbackg " >
        <div class="mt-3  ">
          <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner ">
              <div class="carousel-item active">
                <img class="d-block mx-auto" src="assets/albumreal2.png"  height="140px"  alt="First slide">
              </div>
              <div class="carousel-item text-center">
                <img class="d-block mx-auto" src="assets/bocetoparacd1.png" height="140px"  alt="Second slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
    </div>
      <div class="card-body ">
        <p class="car-text text-center letrascard">CD</p>
        <p class="car-text text-center letrascard">$300</p>
        <div class="text-center letrascard ">
        <a href="https://www.mercadolibre.com.ar" class="btn btn-secondary btn-lg carbutton " target="_blank">COMPRAR</a>
    </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card border-dark cardbackg " >
      <div class="mt-3  ">
        <div id="carouselExampleIndicators1" class="carousel slide carousel-fade" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
          </ol>
          <div class="carousel-inner ">
            <div class="carousel-item  active">
              <img class="d-block mx-auto" src="assets/remerafalsa1.png"  height="140px"  alt="First slide">
            </div>
            <div class="carousel-item text-center">
              <img class="d-block mx-auto" src="assets/remerafalsa2.png" height="140px"  alt="Second slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
  </div>
    <div class="card-body ">
      <p class="car-text text-center letrascard">REMERA</p>
      <p class="car-text text-center letrascard">$600</p>
      <div class="text-center letrascard ">
      <a href="https://www.mercadolibre.com.ar" class="btn btn-secondary btn-lg carbutton " target="_blank">COMPRAR</a>
  </div>
    </div>
  </div>
</div>
  <div class="col">
  <div class="card border-dark cardbackg " >
    <div class="mt-3  ">
      <div id="carouselExampleIndicators2" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner ">
          <div class="carousel-item active">
            <img class="d-block mx-auto" src="assets/chopp1.png"  height="140px"  alt="First slide">
          </div>
          <div class="carousel-item text-center">
            <img class="d-block mx-auto" src="assets/chopp2.png" height="140px"  alt="Second slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
</div>
  <div class="card-body ">
    <p class="car-text text-center letrascard">CHOPP</p>
    <p class="car-text text-center letrascard">$300</p>
    <div class="text-center letrascard ">
    <a href="https://www.mercadolibre.com.ar" class="btn btn-secondary btn-lg carbutton " target="_blank">COMPRAR</a>
</div>
  </div>
</div>
</div>
<div class="col">
<div class="card border-dark cardbackg " >
  <div class="mt-3  ">
    <div id="carouselExampleIndicators3" class="carousel slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators3" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators3" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner ">
        <div class="carousel-item active">
          <img class="d-block mx-auto" src="assets/falsaescultura1.png"  height="140px"  alt="First slide">
        </div>
        <div class="carousel-item text-center">
          <img class="d-block mx-auto" src="assets/falsaescultura2.png" height="140px"  alt="Second slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators3" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators3" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</div>
<div class="card-body ">
  <p class="car-text text-center letrascard">GRABADO</p>
  <p class="car-text text-center letrascard">$1200</p>
  <div class="text-center letrascard ">
  <a href="https://www.mercadolibre.com.ar" class="btn btn-secondary btn-lg carbutton " target="_blank">COMPRAR</a>
</div>
</div>
</div>
</div>
</div>
    </div>
  </div>

    
    