.letracd h1{
    color: rgb(16, 12, 226);
    font-family: 'Uncial Antiqua', cursive;
    font-size: 35px;
    padding: 10px;
  
}
@media (min-width: 1200px) {
    .container{
        max-width: 1199px;
    }
}
a{
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    color: rgb(235, 235, 235);
}
audio{
    padding: 10px;
    opacity: 0.9;

}
p{
    color: rgb(188, 200, 201);
    font-family: 'Fondamento', cursive;
    font-size: calc(0.8rem + 2.2vw);
}
cite{
    color: rgb(219, 205, 205);
    font-family: 'Trade Winds' , cursive ;
    font-size: calc(1.5rem + 5.9vw);

}
