<app-barnav visible="true"></app-barnav>
<div class="text-center mt-4">
<img class="img-fluid" src="assets/tituloelregreso.png" alt="EL REGRESO" >
</div>
<div class="text-center mt-4 mb-5">
    <img class="img-fluid" src="assets/bocetoparacd.png" >
    </div>
    <div class="letracd container">
        <div class="row  mb-3">
    <h1 class=" col-md-6 ">1- Adolescente</h1>
    <div class=" col">
    <audio controls>
        <source src="assets/Adolescente.mp3" type="audio/mpeg">
     </audio>
    </div>    
     <a class="col"  href="/albums#Adolescente_1">Ver letra</a>
</div>
    <div class="row mb-3">
        <h1 class=" col-md-6">2- Pequeño ser inmortal</h1>
        <div class="col">
        <audio controls>
            <source src="assets/Pequeño ser inmortal.mp3" type="audio/mpeg">
         </audio>
        </div>
         <a class="col" href="/albums#Pequeño_Ser_Inmortal_2">Ver letra</a>
        </div>
        <div class="row mb-3">
            <h1 class="col-md-6 ">3- Libertad de elegir</h1>
            <div class="col">
            <audio controls>
                <source src="assets/Libertad de elegir.mp3" type="audio/mpeg">
             </audio>
            </div>
             <a class="col" href="/albums#Libertad_de_elegir_3">Ver letra</a>
            </div>
            <div class="row mb-3">
                <h1 class="col-md-6 ">4- Blues de la predicción</h1>
                <div class="col">
                <audio controls>
                    <source src="assets/Blues de la prediccion.mp3" type="audio/mpeg">
                 </audio>
                </div>
                 <a class="col" href="/albums#Blues_de_la_prediccion_4">Ver letra</a>
                </div>
                <div class="row mb-3">
                    <h1 class="col-md-6">5- Niño adinerado</h1>
                    <div class="col">
                    <audio controls>
                        <source src="assets/Niño adinerado.mp3" type="audio/mpeg">
                     </audio>
                    </div>
                     <a class="col" href="/albums#Niño_adinerado_5">Ver letra</a>
                    </div>
                    <div class="row mb-3">
                        <h1 class="col-md-6">6- La renegada</h1>
                        <div class="col">
                        <audio controls>
                            <source src="assets/La renegada.mp3" type="audio/mpeg">
                         </audio>
                        </div>
                         <a class="col" href="/albums#La_renegada_6">Ver letra</a>
                        </div>
                        <div class="row  mb-3">
                            <h1 class="col-md-6">7- El terapeuta</h1>
                            <div class="col">
                            <audio controls>
                                <source src="assets/El terapeuta.mp3" type="audio/mpeg">
                             </audio>
                            </div>
                             <a class="col" href="/albums#El_terapeuta_7">Ver letra</a>
                            </div>
                            <div class="row mb-3">
                                <h1 class="col-md-6">8- Tahúr</h1>
                                <div class="col">
                                <audio controls>
                                    <source src="assets/Tahur.mp3" type="audio/mpeg">
                                 </audio>
                                </div>
                                 <a class="col" href="/albums#Tahur_8">Ver letra</a>
                                </div>
                                <div class="row mb-3">
                                    <h1 class="col-md-6">9- Zoquete violeta y afines</h1>
                                    <div class="col">
                                    <audio controls>
                                        <source src="assets/Zoquete violeta y afines.mp3" type="audio/mpeg">
                                     </audio>
                                     </div>
                                     <a class="col" href="/albums#Zoquete_violeta_y_afines_9">Ver letra</a>
                                    </div>
                                    <div class="row mb-3">
                                        <h1 class="col-md-6">10- Morochas rubias etc</h1>
                                        <div class="col">
                                        <audio controls>
                                            <source src="assets/Morochas, rubias, etc.mp3" type="audio/mpeg">
                                         </audio>
                                        </div>
                                         <a class="col" href="/albums#Morochas,_rubias,_etc_10">Ver letra</a>
                                        </div>
                                    </div>
                                    <div class="text-center"  id="Adolescente_1">
                                    <cite class="display-3"><br>Adolescente</cite>  
<p class="text-center mt-3">ESPERANDO QUE ME MIRES UNA VEZ<br>
BUSCO INDAGO SIN SABER<br>
SORPRENDIENDOME<br>
MI VIDA PASA POR MIL OJOS<br>
Y EL CAMINO A SEGUIR<br>
QUERRA SER  MARCADO POR<br>
LA SOCIEDAD ESCRITA DE AQUELLOS<br>
QUE NO PENSARON EN <br>
MI INOCENCIA<br>
PRETENCIOSA REDENCION<br>
ADOLESCENCIA<br>
PELIGROSA <br>
AMBICION<br><br>
SIGO AGUARDANDO QUE ME MIRES UNA VEZ<br>
BUSCO INDAGO SIN SABER<br>
Y  A  PESAR DE QUE<br>
RINDA CUENTAS AL PODER…<br>
MI CAMINO A SEGUIR<br>
SERA  MARCADO POR<br>
LA LEALTAD A MIS PRINCIPIOS<br>
A MIS AMIGOS Y A <br>
MI INOCENCIA<br>
PRETENCIOSA REDENCION<br>
ADOLESCENCIA<br>
PELIGROSA <br>
AMBICION <br>
</p>
</div>
<div class="text-center"  id="Pequeño_Ser_Inmortal_2">
    <cite class="display-3 "><br>Pequeño Ser Inmortal</cite>  
<p class="text-center mt-3">
DEBES PRETENDER SER INMORTAL<br>
TRATAR DE DETENER<br>
LA MAQUINA DEL TIEMPO<br>
QUE GIRA Y AVANZA SIN PARAR<br>
<br>
DEBES PRETENDER SER INMORTAL<br>
TRATAR DE OBTENER<br>
TODA LA OFERTA DE LA JUVENTUD<br>
QUE ABUNDA Y PROPONE LA RED<br>
<br>
Y DEBES PRETENDER SER INMORTAL<br>
EXIGIR A TU CUERPO<br>
LO QUE EL FISICO NO PUEDE DAR<br>
<br>
ANTEPONER TU LIBERACION<br>
AL CURSO NATURAL<br>
DE LA HISTORIA<br>
LOCA<br>
<br>
ANTEPONER TU LIBERACION<br>
AL CURSO NATURAL<br>
DE LA HISTORIA<br>
LOCA LOCA FICCION<br>
<br>
DEBES PRETENDER SER INMORTAL<br>
TRATAR DE DETENER<br>
LA MAQUINA DEL TIEMPO<br>
QUE GIRA Y AVANZA SIN PARAR<br>
<br>
DEBES PRETENDER SER INMORTAL<br>
TRATAR DE OBTENER<br>
TODA LA OFERTA DE LA JUVENTUD<br>
QUE ABUNDA Y PROPONE LA RED<br>
<br>
Y DEBES ENTENDER SER INMORTAL<br>
QUE TAMBIEN EL AMOR<br>
TE CONSIGUE UNA MUJER<br>
<br>
ANTEPONER TU LIBERACION<br>
AL CURSO NATURAL <br>
DE LA HISTORIA<br>
LOCA<br>
<br>
ANTEPONER TU LIBERACION<br>
AL CURSO NATURAL<br>
DE LA HISTORIA<br>
LOCA LOCA FICCION<br>
<br>
LOCA LOCA FICCION<br>
LOCA LOCA FICCION<br>
<br>
PEQUEÑO SER INMORTAL
</p>
</div>
<div class="text-center"  id="Libertad_de_elegir_3">
    <cite class="display-3 "><br>Libertad de elegir</cite>  
<p class="text-center mt-3">
UNO DE LOS GRANDES PROBLEMAS<br>
ES ENFRENTARSE A LA VIDA<br>
PARA UN MEJOR FUTURO<br>
VIVIR LUCHANDO CADA DIA<br>
<br>
PARA NOSOTROS PARA EL PUEBLO<br>
PARA MI MISMO POR MI CONCIENCIA<br>
LA LIBERTAD DE ELEGIR<br>
DE ELEGIR<br>
DE ELEGIR<br>
<br>
PONERSE PILAS QUE TENEMOS QUE HACER<br>
LO QUE HASTA AHORA NO EXISTE<br>
Y SI NO EXISTE LO TENDREMOS QUE HACER<br>
NO HAY IMPOSIBLES PARA QUIEN<br>
<br>
PARA NOSOTROS PARA EL PUEBLO<br>
PARA TUS HIJOS POR MI CONCIENCIA<br>
LA LIBERTAD DE ELEGIR<br>
<br>
PARA NOSOTROS PARA EL PUEBLO<br>
PARA TUS HIJOS POR MI CONCIENCIA<br>
LA LIBERTAD DE ELEGIR<br>
DE ELEGIR<br>
DE ELEGIR<br>
<br>
PARA NOSOTROS PARA EL PUEBLO<br>
PARA TUS HIJOS POR MI CONCIENCIA<br>
LA LIBERTAD DE ELEGIR<br>
</p>
</div>
<div class="text-center"  id="Blues_de_la_prediccion_4">
    <cite class="display-3 "><br>Blues de la prediccion</cite>  
<p class="text-center mt-3">
SON ESAS LUCES QUE PASAN<br>
ATRAVESANDO EL SOL<br>
QUE ALGUNOS HUMANOS MANDAN<br>
LIDERES GENERALES Y GENIOS<br>
<br>
DESTRUYEN TODO A SU PASO<br>
SIN IMPORTAR COLOR<br>
ENVUELVEN EN UN ABRAZO<br>
RAZAS CREDOS RELIGION<br>
<br>
ESAS MAQUINAS QUE MATAN<br>
SON EL PRETEXTO QUE HOY<br>
ESOS GRUPOS UTILIZAN<br>
PARA INFUNDIR TEMOR<br>
<br>
DESTRUIRAN TODO A SU PASO<br>
SIN IMPORTAR COLOR<br>
SECUELAS EN EL ALMA<br>
IMPREGNADAS DE HORROR<br>
<br>
LA PREGUNTA ES CONSECUENTE<br>
DE DIFICIL COMPRENSION<br>
QUIEN DEFINE LA EXISTENCIA<br>
SI LAS PROFECIAS O QUIENES<br>
<br>
DESTRUYEN TODO A SU PASO<br>
SIN IMPORTAR COLOR<br>
IMAGEN DEL EXTERMINIO<br>
O LA MAXIMA FICCION<br>
</p>
</div>
<div class="text-center"  id="Niño_adinerado_5">
    <cite class="display-3 "><br> Niño adinerado</cite>  
<p class="text-center mt-3">BUSCAS EL VUELO EL VUELO PROFUNDO<br>
QUE ENVUELVA TU CEREBRO<br>
TUS AMISTADES TU SUEÑO TU NUCLEO<br>
TUS AMBICIONES DE ACERO<br><br>
BUSCAS UN MOTIVO<br>
QUE TE IMPULSE A VER<br>	   
UN EXTRAÑO MUNDO<br>
QUE NO PUEDE SER<br>
QUE NO PUEDE SER<br><br>
ES IRONIA DINERO Y EL SEXO<br>
LO QUE ALIMENTA TU EGO<br>
VELOCIDAD PELIGROS Y EL RIESGO<br>
QUE COMPLEMENTAN TU TIEMPO<br><br>
BUSCAS EL MOTIVO <br>
QUE TE IMPULSE A VER<br>
UN EXTRAÑO MUNDO<br>
QUE NO PUEDE SER<br>
QUE NO PUEDE SER<br><br>
ES IRONIA DINERO Y EL SEXO<br>
LO QUE ALIMENTA TU EGO<br>
VELOCIDAD PELIGROS Y EL RIESGO<br>
QUE COMPLEMENTAN TU TIEMPO<br><br>
BUSCAS EL MOTIVO <br>
QUE TE IMPULSE A VER<br>
UN EXTRAÑO MUNDO<br>
QUE NO PUEDE SER<br>
QUE NO PUEDE SER<br>
QUE NO PUEDE SER<br>
QUE NO PUEDE SER<br> 
</p>
</div>
<div class="text-center"  id="La_renegada_6">
    <cite class="display-3 "><br>La renegada</cite>  
<p class="text-center mt-3">COPA MAS<br>
Y OTRO HOMBRE QUE<br>
LOGRA TU ATENCION<br>
QUIERE  TU VIRTUD<br><br>
Y ES DE SEDA GRIS Y OSCURA<br>
HOMBRE DE PODER<br>
POLITICO TAL VEZ<br>
O UN TRANSA O UN NOBEL<br><br>
Y YO LOS VEO PASAR<br>
Y MI ESPERANZA DECAER<br>
SOLO UNA LUZ VEO EN TUS OJOS<br>
ME IMPULSA A ENTENDER<br><br>
QUE RENIEGAS DEL AMOR<br>
AY DE TI  DE MI<br>
CUANDO SALE EL SOL<br>
AMANECES<br>
NO AMANECES<br><br>
RESPLANDOR DE TU LUZ<br>
REFLEJE EN MIS OJOS<br>
QUE SEA BRUJULA<br>
O UN TALISMAN<br><br>
Y QUE EL ECO DEL AMOR<br>
LLEGUE A TI<br>
VUELVA A MI<br><br>
ASI CUANDO SALGA EL SOL<br>
AMANECES<br>
AMANECES<br>
AMANECES JUNTO A MI<br>
</p>
</div>
<div class="text-center"  id="El_terapeuta_7">
    <cite class="display-3 "><br>El terapeuta</cite>  
<p class="text-center mt-3">SER O NO SER<br>
    LA TEORIA LO DICE<br>
    PREGONA EL PROFESIONAL<br>
    ELABORANDO EL CONTROL<br><br>
    MIRAR SIN VER<br>
    BUSCAR EN LA REALIDAD<br>
    RESPONDE MI ADICCION<br>
    JUSTIFICANDO EL PLACER<br><br>
    PONE UN CIEN<br>
    EL TRATAMIENTO ES NORMAL<br>
    DOSCIENTOS<br>
    REQUIERE MEDICACION   ESPECIAL<br><br>
    SER O NO SER<br>
    LE VUELVO A REITERAR<br>
    EL DIAGNOSTICO ES MUY CLARO<br>
    HAY MUCHO QUE CONVERSAR<br><br>
    ANDAR SIN LLEGAR<br>
    EL HORIZONTE JAMAS<br>
    SE ACERCA A MI VOLUNTAD<br>
    Y ESCUCHO ESA VOZ QUE DICE<br><br>
    PONE UN CIEN<br>
    EL TRATAMIENTO ES NORMAL<br>						       
    DOSCIENTOS<br>
    REQUIERE MEDICACION       ESPECIAL<br><br>
    SER O NO SER<br>
    LA TEORIA LO DICE<br>
    PREGONA EL PROFESIONAL<br>
    ELABORANDO EL CONTROL<br><br>
    PODER, VOLUNTAD<br>
    ES TODA LA REALIDAD<br>
    PODER VENCER MI ADICCION<br>
    Y ASI EVITAR EL PREGON <br><br>
    PONE UN CIEN<br>
    EL TRATAMIENTO ES NORMAL<br>
    DOSCIENTOS<br>
    REQUIERE MEDICACION  ESPECIAL<br><br>
    ESPECIAL<br>
    ESPECIAL<br>
    ESPECIAL<br><br>
    PONE UN CIEN<br>
    PONE UN CIEN<br>
    PONE UN CIEN<br>
    DOSCIENTOS<br>
    DOSCIENTOS<br>
</p>
</div>
<div class="text-center"  id="Tahur_8">
    <cite class="display-3"><br>Tahur</cite>  
<p class="text-center mt-3">
    MAGICO LIBERADOR<br>
    ASUMO EL PODER<br>
    PROMETO SOLO PLACER <br>
    FORTUNA REAL <br>
    <br>   
    SIGUEME QUE ALCANZARAS<br>
    TODO LO QUE QUIERAS SER<br>
    AL TOQUE Y SIN CONOCER<br>
    ESA SENSACION <br>
    <br>
    SIGUEME QUE ALCANZARAS<br>
    TODO LO QUE QUIERAS SER<br>
    AL TOQUE Y SIN CONOCER<br>
    LA SENSACION DEL DEBER<br>
    <br>
    DEBER DEBER<br>
    ESPERO ESE NUMERO FIEL<br>
    LA SOGA QUE SALVA<br>
    QUE SIEMPRE TE INVITA VOLVER<br>
    UN DUENDE QUE ENGAÑA<br>
    <br>
    GIRA GIRA HIPNOTIZADOR<br>
    CUMPLE TU RUTINA CRUEL<br>
    FATIDICO Y ENCANTADOR<br>
    QUIEBRAS MI SER<br>
    <br> 
    GIRA GIRA HIPNOTIZADOR<br>
    CUMPLE TU RUTINA CRUEL<br>
    CERTERO Y DEVASTADOR <br>
    QUIEBRAS QUIEBRAS MI SER<br>
    MI SER  MI SER<br>
    <br>
    ACIERTA  ACIERTA ACIERTA ACIERTA<br>
    ACIERTA  ACIERTA ACIERTA<br>
    <br>
    ACIERTA DE UNA PUTA VEZ<br>
    O CUMPLE TU RUTINA CRUEL<br>
    FATIDICO Y ENCANTADOR<br>
    SIENTES MI SED<br>
    <br>   
    GIRA GIRA HIPNOTIZADOR<br>
    CUMPLE TU RUTINA CRUEL<br>
    CERTERO Y DEVASTADOR <br>
    QUIEBRAS QUIEBRAS MI SER <br>
    MI SER MI SER<br>
    <br>
    ACIERTA  ACIERTA ACIERTA <br>
    NO VA MAS<br>
</p>
</div>
<div class="text-center"  id="Zoquete_violeta_y_afines_9">
    <cite class="display-3 "><br>Zoquete violeta y afines</cite>  
<p class="text-center mt-3">A VOS VIOLADOR<br>
ZOQUETE VIOLETA<br>
QUE SOS LA PEBETA DEL PABELLON<br>
Y AFUERA DECIS QUE SOS UN CAMPEON<br><br>
A VOS ESTAFADOR<br>
A VOS TRAFICANTE<br>
A VOS VIGILANTE COMETEADOR<br>
A VOS PISTOLERO<br>
A VOS GOLPEADOR         NI UNA MENOS!!<br><br>
HOY LA SOCIEDAD         RECLAMA<br>
DERECHOS HUMANOS<br>
AL BUEN CIUDADANO<br>
JUSTA LA LEY  PARA EL INFRACTOR<br><br>
HOY LA SOCIEDAD         RECLAMA<br>
DERECHOS HUMANOS<br>
AL BUEN CIUDADANO<br>
JUSTA LA LEY  PARA EL INFRACTOR<br>
QUE ANTE EL COMUN<br>
SE CREE UN SER SUPERIOR<br>
SUPERIOR<br><br>
Y A UD SEÑOR JUEZ<br>
QUE TIENE LA LLAVE<br>
QUE ABRE LA PUERTA DEL ANIMAL<br>
QUE VUELVE A MORDER      ENTRA  SALE<br>
Y VUELVE A MORDER<br><br>
A USTED LEGISLADOR<br>
A USTED CONCEJAL<br>
A USTED DIPUTADO O SENADOR<br>
A USTED PRESIDENTE<br>
QUE TIENE EL CONTROL<br><br>
HOY LA SOCIEDAD         RECLAMA<br>
DERECHOS HUMANOS<br>
AL BUEN CIUDADANO<br>
JUSTA LA LEY<br>
PARA EL INFRACTOR<br><br>
HOY LA SOCIEDAD         RECLAMA<br>
DERECHOS HUMANOS<br>
AL BUEN CIUDADANO<br>
JUSTA LA LEY<br>
PARA EL INFRACTOR <br>
QUE ANTE EL COMUN<br>
SE CREE UN SER SUPERIOR<br>
SUPERIOR<br>
SUPERIOR<br>
</p>
</div>
<div class="text-center"  id="Morochas,_rubias,_etc_10">
    <cite class="display-3 "><br> Morochas, rubias, etc</cite>  
<p class="text-center mt-3">CHANGO UNA BIRRA<br>
    Y SI ES MOROCHA MEJOR<br>
    IGUAL SI PINTA UNA RUBIA<br>
    JAMAS  DISCRIMINADOR<br><br>
    CHANGO UN CORTADO<br>
    ORDENA  EL PORTUGUES<br>
    PEDRO PATON  CACHITO Y POLACO<br>
    JUEGAN UN TUTE CABRERO CARAJO<br><br>
    Y SE ARMO LA JODA<br>
    ARRANCA LA DISCUSION<br>
    MINAS  POLITICA Y BROMAS<br>
    FANDANGO  EN EL BODEGON<br>
    FANDANGO  EN EL BODEGON<br>
    Y FANDANGO  EN EL BODEGON<br>
    FANDANGO  EN EL BODEGON<br><br>
    CHANGO UNA BIRRA<br>
    Y SI ES MOROCHA MEJOR<br>
    IGUAL SI PINTA UNA RUBIA<br>
    JAMAS  DISCRIMINADOR<br><br>
    CHANGUI <br>
    ROCK Y BLUES<br>
    PIDEN LAS CHICAS DE RUSH<br>
    RE TRAVIESAS SEXYS<br>
    SUEÑAN Y RIEN <br>
    CANTAN Y LLORAN<br><br>
    Y SE ARMO LA JODA<br>
    FINAL DE LA DISCUSION<br>
    AL RITMO DE UN ROCK AND ROLL<br>
    FANDANGO  EN EL BODEGON<br><br>
    FANDANGO  EN EL BODEGON<br>
    Y FANDANGO  EN EL BODEGON<br>
    FANDANGO  EN EL BODEGON<br>
    FANDANGO  EN EL BODEGON<br>
</p>
</div>




          
   