.vtit{
    color: darkgrey;
    font-family: 'Pirata One' ;
    font-size: calc(3.5rem + 2.6vw);
}
.vit{
    font-family: 'Fjalla One', sans-serif;
    color: rgba(10, 218, 138, 0.87); 
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 10px;
}