<app-barnav visible="true"></app-barnav>
  <div class="container">
    <div class="row text-center mt-4 mb-5">
        <div class="col">
<h1 class="vtit">
    Videos
</h1>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
<h1 class="vit">
9/11/18, Falsa Faz en Mitos Argentinos, San Telmo
</h1>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/17E04IeaITw" allowfullscreen></iframe>
              </div>
        </div>
    </div>
    <br>
    <div class="row text-center">
        <div class="col">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A1bv5shq7dA" allowfullscreen></iframe>
              </div>
        </div>
    </div>
    <br>
    <div class="row text-center">
        <div class="col">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/yqqVO_RyeEU" allowfullscreen></iframe>
              </div>
        </div>
    </div>
    <br>
    <div class="row text-center">
        <div class="col">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lRJzxeYIfm4" allowfullscreen></iframe>
              </div>
        </div>
    </div>
    <br>
    <div class="row text-center">
        <div class="col">
<h1 class="vit">
Falsa faz ensayando en "el tanque", 8/12/12, Lanus
</h1>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zd7gfDW8g2M" allowfullscreen></iframe>
              </div>
        </div>
    </div>
    <br>
    <div class="row text-center">
        <div class="col">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5i2ZtiCJRSc" allowfullscreen></iframe>
              </div>
        </div>
    </div>
        <br>
        <div class="row text-center">
            <div class="col">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/usj5R9xZ3n0" allowfullscreen></iframe>
                  </div>
            </div>
        </div>
            <br>
            <div class="row text-center">
                <div class="col">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2JRRorZ-XGk" allowfullscreen></iframe>
                      </div>
                </div>
            </div>        
    </div>
  